[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "tomlc99"]
	path = tomlc99
	url = https://github.com/cktan/tomlc99
